.topic {
  height: 6rem;
  width: 8rem;
  margin: 0.2rem;
  padding: 0.5rem;
}

#iRP {
  margin-top: 2rem;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
